.main {
    margin:20px;
}

.main-title{
color:#ff7f50;
}

.sub-title{
color:#ff69b4;
margin-left: 40px;
}

.highlight{
color: blue;
}

h3{
color:red;
margin-top:20px;
}

li{
margin: 10px
}

div.content_2 ul{
list-style: none;
margin: -20px -10px 0 -10px;
}

.quote{
font-style:italic;
}

div.content_2 h4{
font-weight: bold;
color: #696969;
}

ul{
margin-top: -20px;
}

.logo{
width: 50%;
height: 50%;
margin: 30px 10px;
}