.title {
  color: #02ccba;
}

.container {
  /*max-width: 1170px;*/
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(149,0,255,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-logo{
  margin-left: -10px;
  margin-right: auto;
  float:left;
}

.logo{
  height:65px;
  color:black;
}

.header-title{
  color: white;
  position:relative;
  top:-5px;
  left: 20px;
  float:left;
}

.navi-list{
  float:right;
  margin-left: auto;
  margin-right: 0;
}

.navi-list a {
  line-height: 65px;
  padding: 0 25px;
  color:black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.navi-list a:hover {
  background-color: rgba(85, 255, 51, 0.9);
}

.navi-list ul{
  list-style: none;
}

.top-wrapper {
  margin-top: 65px;
  padding: 180px 0 100px 0;
  background-image: url(design/eva_home1.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 h2 h3{
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fab {
  margin-right: 5px;
}

.heading {
  padding-top: 30px;
  padding-bottom: 0px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.story-wrapper{
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.story-list{
  text-align: center;
}

.story-list ul{
  list-style: none;
  padding-left: 0;
}

.story-list li{
  margin: 0 auto;
  width:20%;
  display: inline-block;
  text-align: center;
}

.story-list label{
  padding: 15px;
  font-weight: bold;
  cursor :pointer;
}

.story-list label:hover{
  background-color: #efefef;
}

.story-list input{
  display:none;
}

.story-list .novels{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.story-list input:checked ~ .novels{
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.story-list .pre-animes{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.story-list input:checked ~ .pre-animes{
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.story-list .new-animes{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.story-list input:checked + label + .new-animes{
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.story-list .comics{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.story-list input:checked ~ .comics{
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.linenap li{
  display: list-item;
}

/*ボックス全体*/
.accbox {
    margin: 2em 0;
    padding: 0;
    /*max-width: 400px;最大幅*/
}

/*ラベル*/
.accbox label {
    display:inline-block;
    margin: 1.5px 0;
    padding : 13px 12px;
    color: #ffba47;
    font-weight: bold;
    background: #fff2cc;
    cursor :pointer;
    transition: all 0.5s;
}

/*アイコンを表示*/
.accbox label:before {
  font-family: 'Font Awesome 5 Free';
  content: '\f054';
  padding-right: 8px;
}

/*ラベルホバー時*/
.accbox label:hover {
    background :#ffe9a9;
}

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + label + .accshow {
    height: auto;
    padding: 5px;
    background: #fff5eb;
    opacity: 1;
}

.accbox .accshow li {
  list-style-type: none;
  margin: 10px 10px
}

/*アイコンを入れ替える*/
.cssacc:checked + label:before {
    content: '\f078';
}

.contact{
  margin-left: 10px;
}

.contact h2{
  text-align: center;
  margin-bottom: 30px;
}

.contact .information{
  margin-left: 10%;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: solid 1px #cccccc;
}
